.perfil-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.perfil-image {
    border-radius: 50%;
    width: 20rem;
}
