@page "/perfil"

<div class="perfil-content">
    <img src="@Imagem" class="perfil-image" />
     <br />       
    <input type="text" @bind-value="@Nome" />
     <br />       
    <button @onclick="Editar">Editar</button>
</div>
