@page "/perfil"

<div class="perfil-content">
    <div style="display: flex;">
        <button @onclick="Anterior" type="button">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
        </button>

        <img src="@Imagem" class="perfil-image" />

        <button @onclick="Proxima" type="button">
            <span class="material-symbols-outlined">
                arrow_forward_ios
            </span>
        </button>
    </div>
    <br />
    <input type="text" @bind-value="@Nome" maxlength="20" />
    <br />
    <br />
    <button @onclick="Editar" class="botao-1">Editar</button>
</div>
