@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primaria: #0a0e0f;
    --secundaria: #161b1c;
    --terciaria: #48a5c3;
    --quarta: #202427;
    --border: 2px solid #202427;
    --titulo: 1.2rem;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: var(--primaria)
}

label {
    font-size: 0.8rem;
    color: white;
}

li {
    margin-bottom: 1rem;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

.botao-1 {
    background-color: var(--terciaria);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .botao-1:hover,
    .botao-1:focus {
        background-color: var(--terciaria);
    }

.selecionavel {
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 0;
    transition: 0.2s;
}

    .selecionavel:hover, .conversando {
        background-color: var(--quarta);
    }

.digitando, .online {
    color: var(--terciaria)
}

.main-content {
    display: flex;
    width: 100%
}

.chat-content {
    display: flex;
}

.chat-container {
    width: 100%;
    height: 100vh;
}

.contato {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

    .contato div {
        margin: auto 0;
    }

    .contato img {
        border-radius: 50%;
        width: 4rem;
    }

.contatos-container {
    background-color: var(--secundaria);
    width: 500px;
    height: 100vh;
    position: sticky;
    top: 0;
    color: white;
    border-right: var(--border);
}

.chat-header {
    width: 100%;
    background: var(--secundaria);
    height: 6rem;
    border-bottom: var(--border);
    padding: 1rem;
}

.chat-body {
    height: calc(100vh - 11rem);
    padding: 0;
    margin: 0;
    background-color: var(--primaria);
    overflow-y: auto;
}

.chat-bottom {
    background: var(--secundaria);
    height: 5rem;
    border-top: var(--border);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}

.contato-perfil {
    width: 100%;
    height: 6rem;
    border-bottom: var(--border);
    padding: 1rem;
}

.pessoas {
    padding: 1rem;
}

input {
    background: var(--quarta);
    border: 0;
    outline: 0;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.botao-apenas-icone {
    border-radius: 50%;
    border: 1px solid #4e5052;
    width: 3rem;
    height: 3rem;
    margin: auto 0;
}

.notificacoes {
    background: var(--terciaria);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.active {
    background: var(--terciaria);
    color: white;
    opacity: 1 !important;
}

.menu-item {
    cursor: pointer;
    opacity: 0.7;
    display: flex;
    transition: 0.5s;
    justify-content: center;
    margin: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 50%;
}

    .menu-item span {
        font-size: 35px;
    }

    .menu-item:hover {
        opacity: 1;
        color: white;
    }


.titulo {
    font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
    .titulo {
        font-size: 0.9rem;
    }

    .botao-apenas-icone {
        width: 2.5rem;
        height: 2.5rem;
    }

        .botao-apenas-icone span {
            font-size: 20px;
        }

    input {
        font-size: 0.8rem;
    }
}
