<nav class="menu">
    <div>
        <img style="background: white;border-radius: 50%; padding: 0.4rem;" src="https://img.icons8.com/fluency/50/chat.png" />
    </div>
    <div class="middle-menu">
        <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
            <span class="material-symbols-outlined">
                chat
            </span>
        </NavLink>
        <NavLink class="menu-item" href="Perfil">
            <span class="material-symbols-outlined">
                settings
            </span>
        </NavLink>
        <NavLink class="menu-item" href="Info">
            <span class="material-symbols-outlined">
                Info
            </span>
        </NavLink>
    </div>
    <div>
        <img style="border-radius:50%;width:4rem" src="@UsuarioAtual.Imagem" />
    </div>
</nav>