<nav class="menu">
    <div class="middle-menu">
        <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
            <span class="material-symbols-outlined">
                chat
            </span>
        </NavLink>
        <NavLink class="menu-item" href="Perfil">
            <span class="material-symbols-outlined">
                settings
            </span>
        </NavLink>
        <NavLink class="menu-item" href="Info">
            <span class="material-symbols-outlined">
                Info
            </span>
        </NavLink>
    </div>
</nav>